body {
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.header {
    grid-row: 1;
    grid-column: 2;
}

.me {
    grid-row: 2;
    grid-column: 2 / 11;
}

.details {
    grid-row: 3;
    grid-column: 2 / 11;
}

.lazy {
    grid-row: 4;
    grid-column: 2 / 11;
}

.thoughts {
    grid-row: 5;
    grid-column: 2 / 11;
}

.videos {
    grid-row: 6;
    grid-column: 2 / 11;
}

.links {
    grid-row: 7;
    grid-column: 2 / 11;
}